@media screen and (min-width: 320px) and (max-width: 480px){
.user {
  .toggle-btn {
    top: 15px;
    right: 7px;
  }
}

.flight-details {
  overflow-x: scroll;

  .flight {
    width: 100%;
  }
}
}
