$grey-color: #4F4F4F;
$white: #FFFFFF;

@import 'smallMobileScreen';

.analyticsReport {
  margin-top: 2%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 0;
  color: $grey-color;
  p {
    color: $grey-color !important;
    line-height: 20px;
  }
  
  &__text-center {
    text-align: center;
  }

  &__export-button {
    display: flex;
    box-sizing: border-box;
    height: 27px;
    width: 87px;
    border: 1px solid #E4E4E4;;
    background-color: #FFFFFF;
    align-items: center;
    outline: none;
    justify-content: space-between;
    color: $grey-color !important;
  }

  &__export-button:hover {
    cursor: pointer !important;
  }

  &__card {
    width: 100%;
    border-radius: 2px;
    background-color: $white;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    padding: 23px 20px 23px 20px;
    z-index: 2;

    .pg--container{
      justify-content: space-between;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div {
      width: 50%;
      padding: 10px;
      padding-bottom: 0;
    }
  }

  &__report-header {
    p {
      font-weight: 900;
    }
  }
  &__report-details {
    border-top: 1px solid #E4E4E4;
    box-sizing: border-box;
  }

  &__spinner{
    border: 2px solid #f3f3f3;
    border-top: 2px solid #385BD3;
    border-radius: 50%;
    position: relative;
    margin: auto;
    width: 20px;
    height: 20px;
    text-align: center;
    animation: spin 2s linear infinite;
  }
}
@import 'mediumScreen';
@import 'screens';
