.left-sidebar {
  box-sizing: border-box;
  margin: 0px;
  width: 240px;
  height: calc(100vh - 78px);
  font-family: 'DIN Pro';

  &__fixed_wrapper {
    margin-top: 50px;
    width: 240px;
    height: calc(100vh - 128px);
  }
}
