.container{
  display: flex;
  flex-direction: column;
  min-height: 100px;

  &:last-child{
    margin-bottom: 30px;
  }
}

.calendar-header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  margin-right: 3px !important;
}
.actions{
  display: flex;
  justify-content: flex-end;

  &__btn{
    margin-left: 19px;
    box-sizing: border-box;
    height: 37px;
    width: 37px;
    border: 1px solid #D4D4D4;
    border-radius: 2px;
    background-color: #FFFFFF;
    cursor: pointer;
    display: flex;
    padding: 0 12.5px;
    align-items: center;
    justify-content: center;

    &:focus{
      outline: none;
    }

    &:hover,
    &:active ,
    &:visited {
      border: 1px solid #3359DB;
    }
  }

  .action-btn--calender {
    width: 220px;
    height: 37px;
    box-sizing: border-box;
    border: 1px solid #D4D4D4;
    border-radius: 1px;
    background-color: #ffffff;
    padding: 0 12.5px;
    cursor: pointer;
    outline: none !important;
    color: #4F4F4F;
    font-family: "DIN Pro";
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover,
    &:active ,
    &:visited {
      border: 1px solid #3359DB;
    }
  }
}
.title{
  font-family: "DIN Pro";
  font-size: 18px;
  font-weight: 500;
  margin-left: 2px;}

.calendar {
  position: absolute;
  top: -1160%;
  right: 0%;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transform: scale(0,1);
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;

  &--down {
    top: 110%!important;
  }

  &.open {
    opacity: 1;
    visibility: visible;
    transform: scale(1,1);
  }
}

.error-msg{
  padding: 30px 50px !important;
  text-align: center;

  &__text{
    color: #4F4F4F;
    font-family: "DIN Pro";
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.calender-placeholder:not(:last-child) {
  margin-bottom: 10px;
}

@import 'screens';
