@media screen and (min-width: 320px) and (max-width: 479px) {
  form.new-request fieldset{
    width: fit-content;
    .aline-box{
      flex-direction: row;
      width: 100%;
      .upload-image{
        width: 61%;
        height: 155px;
      }
      .imgPre{
            width: 100%;
            height: 155px;
          }
          .image-rectangle{
            display: flex;
            flex-direction: row;
            width: 155%;
            height: 145px;
            max-width: 302px;
            max-height:182px;
          }
          .image-space {
            width: 100%;
            margin: 30px 10px 0px 35px;
              .upload {
                 margin-bottom: 25px;
              }
          }
    }
  .input-group{
    &.reduce-margin {
      display: flex;
      flex-direction: row;
      width: fit-content;
      margin: 20px 20px -17px 0px;
    }
    .guest-house-input{
      width: 100%;
     }
  }
  .centre-card {
    margin: 8px 15px 8px 15px !important;
  }
  .accommodation {
    width: 100%;
    padding: 0 15px;
  }
  .table__container{
    position: initial !important;
  }
  .add-cancel{
        height: auto;
        width: 100%;
    .room-rectangle{
          padding: 10px;
          width: 100%;
        .style-input-box{
              flex-direction: column;
              width: 100%;
            .room{
              width: 93%;
            }
        }
     }
     .cancel-button{
           width: fit-content;
           margin: 0px -25px 0px 10px;
    }
  }

  .add-more-room-rectangle {
      width: 99.8%;
    .set-width {
      flex-direction: row;
        .add-sug-room{
              width: fit-content;
              line-height: 21px;
        }
        .add-another-room{
              width: fit-content;
              font-size: 14px;
        }
    }
  }
}

form fieldset:last-child .submit-area {
  width: fit-content;
  }
}
