.image-rectangle {
  box-sizing: border-box;
  height: 182px;
  width: 302px;
  border: 2px dotted #d4d4d4;
  border-radius: 6px;
  background-color: #f8f8f8;
}

.add-photo {
  position: relative;
  top: 75%;
  left: 52%;
  transform: translateY(-50%);
}

.action-btn {
  height: 36px;
  width: 88px;
  border: 1px solid #3359db;
  border-radius: 1px;
  background-color: #ffffff;
  cursor: pointer;
  outline: none !important;
  color: #3359db;
  font-family: "DIN Pro";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.upload {
  height: 20px;
  color: #4f4f4f;
  font-family: "DIN Pro";
  font-size: 15px;
  line-height: 20px;
}

.aline-box {
  display: flex;
  margin-bottom: 30px;
}

.image-space {
  margin: 63px 35px 39px 40px;
}

.add-rooms {
  height: 23px;
  width: 92px;
  color: #4f4f4f;
  font-family: "DIN Pro";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}

.room-rectangle {
  height: 95px;
  width: 93%;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  background-color: #f8f8f8;
  margin: 7px 0px 20px 0px;
  color: gray;
}

.add-more-room-rectangle {
  height: 50px;
  width: 93%;
  border: 1px solid #d4d4d4;
  border-style: dashed;
  border-radius: 2px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.add-button {
  height: 14.63px;
  width: 14.63px;
}

.add-sug-room {
  margin: 18px 10px 10px 16px;
}

.add-another-room {
  height: 21px;
  width: 85px;
  color: gray;
  font-family: "DIN Pro";
  font-size: 16px;
  line-height: 21px;
  margin: 18px 10px 10px 1px;
}
.set-width {
  display: flex;
}

.room {
  margin-right: 20px;
  position: relative;
  width: 219px;
}

.style-input-box {
  display: flex;
  padding: 10px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.imgPre {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  height: 182px;
  width: 302px;
}

.add-cancel {
  display: flex;
  margin-bottom: -12px;
}

.cancel-button {
  margin: 0px 0px 0px 10px;
}

.guest-house-input {
  width: 200px;
  margin-right: 30px;
}

.remove {
  -webkit-appearance: none;
}
.reduce-margin {
  margin-bottom: -17px;
}
