# All the CI required environment variables will be listed here
PROJECT_ID=""
PROJECT_NAME=travella-frontend
PRODUCTION_COMPUTE_ZONE=""
STAGING_COMPUTE_ZONE=""
DEPLOY_SCRIPTS_REPO=""
CLONE_BRANCH=""
PRODUCTION_CLUSTER_NAME=""
STAGING_CLUSTER_NAME=""
PRODUCTION_INGRESS_STATIC_IP_NAME=""
STAGING_INGRESS_STATIC_IP_NAME=""
