$primary-color: #3359db;
$border-color: #e4e4e4;

.role-user__name {
  color: $primary-color;
	border-left: 1px solid $border-color;
	width: 60%;
    @media (max-width: 839px) {
    width: 40%;
  }
}

.table {
  &__rows {
    border-radius: 2px;
    background-color:white;
    text-align: center;
    height: 46px;
    &:hover {
      box-shadow: 0 0px 0px 0;
      background-color: white !important;
      cursor: pointer;
    }
  }
}

.delete-role-modal {
  width: 243px;
  min-height: 0px;
  height: 120px;
  font-size: 14px;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
  text-align: right;
  cursor: default;

  .modal-title-bar {
    font-size: 14px;
    font-family: 'DIN Pro';
    height: 30px;
    border-radius: 2px 2px 0 0;
    background-color: #F8F8F8;
    line-height: 18px;
    font-weight: 100;

    .modal-close {
      height: auto;

      img {
        width: 13px;
      }
    }
  }

  &__text{
    text-align: left;
    margin-left: 26px;
    color: #999999;
    font-size: 14px;
    line-height: 18px;
    margin-top: 14px;
  }

  &__btn{
    height: 26px;
    width: 80px;
    border-radius: 1px;
    background-color: #FF5359;
    border: none;
    color: #ffffff;
    margin-right: 28px;
    margin-bottom: -10px;
    cursor: pointer;
  }
}

.delete-modal-overlay.position-below {
  top: 48px;
  left: -65px;
}

@media only screen and (max-width: 1039px) {
  .delete-modal-overlay.position-below {
    left: -100px;
  }
}

@media only screen and (max-width: 899px) {
  .delete-modal-overlay.position-below {
    left: -120px;
  }
}

@media only screen and (max-width: 839px) {
  .table__container {
    width: 100%;
    overflow: scroll;
    position: fixed;
  }
}

@media only screen and (max-width: 839px) {
  .table__resize {
    position: inherit;
  }
}
