@import url('../../../node_modules/material-design-lite/material.css');
@import url('../../../node_modules/material-design-icons/iconfont/material-icons.css');

@font-face{
  font-family: "DIN Pro Black";
  src: url("../../fonts/FontFont - DINPro-Black.otf");
}
@font-face{
  font-family: "DIN Pro Bold";
  src: url("../../fonts/FontFont - DINPro-Bold.otf");
}
@font-face{
  font-family: "DIN Pro Extlight";
  src: url("../../fonts/FontFont - DINPro-Extlight.otf");
}
@font-face{
  font-family: "DIN Pro Light";
  src: url("../../fonts/FontFont - DINPro-Light.otf");
}
@font-face{
  font-family: "DIN Pro Light Italic";
  src: url("../../fonts/FontFont - DINPro-LightItalic.otf");
}
@font-face{
  font-family: "DIN Pro Medium";
  src: url("../../fonts/FontFont - DINPro-Medium.otf");
}
@font-face{
  font-family: "DIN Pro";
  src: url("../../fonts/FontFont - DINPro.otf");
}


.App {
  text-align: center;
}

.App-container {
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #1262e2;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.Btn-log {
  background-color: #1262e2;
  font-size: medium;
  margin: 50px 600px;
  padding: 10px;
  text-align: center;
  font-family: "DIN Pro"
}
.Login-header {
  background-color: #0461f7;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); }
}
