.new-email-template-form {
  margin-top: 80px;

  .form-fields {
    background: white;
    padding: 2.5em;
    border: 1px solid #d6d6d6;
  }

  .form-input.error {
    .ReactTags__selected {
      border-color: red;
    }
  }

  .ReactTags__selected {
    margin-top: 8px;
    border: 1px solid #d4d4d4;

    &:hover  {
      box-shadow: 0px 0px 3.5px rgba(51, 89, 219, 0.6);
      border: 1px solid rgba(51, 89, 219, 0.7);
    }

    .ReactTags__tagInputField {
      margin-top: 0;
      border: none;
      box-shadow: none;
      outline: none;

      &:focus, &:hover {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }

  // in order to override the inline-styles added by
  // grammarly chrome-extension, we need to have
  // the !important declaration.
  .email-message, .email-message.error {
    height: 170px;
    width: 100% !important;
  }

  .input-group {
    .form-input {
      width: 100%;
    }
  }

  .emails {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    .form-input {
      &:first-child {
        flex: 1;
        margin-right: 1em;
      }
      &:last-child {
        flex: 2;
      }
    }
  }
}
