  .request__tab {
    margin-top: 57px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flow-root;
  }


   .request__tab-card {
    box-sizing: border-box;
    min-height: 150px;
    width: 19.49%;
    border-radius: 16px;
    background-color: #FFFFFF;
    margin-right: 7.34%;
    float: left;
    position: relative;
    padding-bottom: 23px;
    &:nth-child(4n) {
      margin-right: 0px;
    }
    .tab-logo {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      background: #f5f5f5;
      svg {
        left: 50%;
        width: 29px;
        transform: translate(-50%, -50%);
        height: 19px;
        float: left;
        top: 50%;
        position: relative; 

       }
    }
    .tab-title {
      width: 100%;
      text-align: center;
      margin-top: 10px;
      height: 21px;
      color: #4F4F4F;
      font-family: "DIN Pro";
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
    }
    .foot-text {
      margin-top: 8px;
      height: 15px;
      width: 100%;
      color: #4F4F4F;
      font-family: "DIN Pro";
      font-size: 12px;
      line-height: 15px;
      text-align: center;
    }
  }


   .current {
    border: 1px solid #3359DB;
    opacity: 1 !important;
    .foot-text {
        display: block!important;
    }
  }


   .complete {
    opacity: 1 !important;
    .tab-logo {
      background-color: rgba(16, 163, 109, 0.15);
    }
    .mark {
      display: block;
    }
  }

   .incomplete {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    .foot-text {
      display: none;
    }
  }

   .mark {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 24px;
    width: 24px;
    background-color: #10A36D;
    border-radius: 50%;
    text-align: center;

   }

   .new-request_title{
    height: 23px;	
    width: 277px;	
    color: #4F4F4F;	
    font-family: "DIN Pro";	
    font-size: 18px;	
    font-weight: 700;	
    line-height: 23px;
    margin-top:60px;
    margin-bottom: 25px;
  }

