form.new-request {
  .stipend-amount {
    input {
      width: 421px;
    }
  }
  .input-border-error {
    input {
      border: 1px solid red;
    }
  }

  .spaces {
    .show-error {
    display: block;
    color: red;
    font-size: 12px;
    margin-top: -20px;
    }
    .hide-error {
      display: none;
    }
  }

  .stipend-location {
    width: 421px;

    .select-dropdown {
      margin-right: 10px;
    }
  }

}
