form.new-request {
  .stipend-amount {
    input {
      width: 421px;
    }

    margin-right: 10px;
  }

  .stipend-location {
    width: 421px;

    .select-dropdown {
      margin-right: 10px;
    }
  }

}