form.new-request {
    fieldset {
      display: flex;
      div {
        div.disable-details {
          pointer-events: none;
          opacity: 0.4;
        }
      }
      .input-group {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        @media (max-width: 1405px) {
          width: 1000px;
        }
        @media (max-width: 1320px) {
          width: 1000px;
        }
        @media (max-width: 1270px) {
          width: 950px;
        }
        @media (max-width: 1220px) {
          width: 900px;
        }
        @media (max-width: 1150px) {
          width: 850px;
        }
        @media (max-width: 1120px) {
          width: 800px;
        }
        @media (max-width: 1024px) {
          width: 700px;
        }
        @media (max-width: 916px) {
          width: 600px;
        }
        @media (max-width: 788px) {
          width: 500px;
        }
        @media (max-width: 668px) {
          width: 400px;
        }
        @media (max-width: 540px) {
          width: 300px;
        }
        @media (max-width: 420px) {
          width: 200px;
        }
      }
      .spaces {
        margin-right: 25px;
        @media (max-width: 450px) {
          margin-right: 0;
          width: 100%;
        }
      }

      .line {
        width: 100%;
        padding-bottom: 11px;
      }
      .style-h5 {
        display: flex;
        justify-content: 'center';
        font-family: 'DIN Pro';
      }

      .hide-details {
        height: 18px;
        width: 103px;
        color: #4f4f4f;
        font-family: 'DIN Pro';
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        float: right;
        cursor: pointer;
      }
      .expand {
        float: right;
        margin: 7px 0px 0px 6px;
      }

      .rectangle {
        -webkit-box-shadow: 0 0 0 0px #e4e4e4;
        box-shadow: 0 0 0 0px #e4e4e4;
        border: 0px solid #e4e4e4;
        border-radius: 2px;
        background-color: inherit;
        margin: 7px 0px 20px 0px;
        color: gray;
        width: 100%;
        &.multi {
          border-left: 10px solid rgb(255, 255, 255);
          width: 98.5%;
          margin-right: 15px;
        }
      }
      .style-details {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 5px 5px 0px;
        margin-left: 0px;
        width: 100%;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 18px;
        .travel__duration{
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-left: 0px;
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
      }

      .travel-to {
        margin-right: 20px;
        position: relative;
        width: 190px;
        @media (max-width: 450px) {
          width: 100%;
        }
      }

      .location-icon {
        position: absolute;
        right: 15px;
        top: 39px;
      }

      .others-width {
        margin-right: 20px;
        @media (max-width: 450px) {
          width: 100%;
        }
      }
    }

    .your-manager {
      input {
        width: 260px;
      }

      margin-right: 10px;
    }

    .user-location {
      width: 250px;

      .select-dropdown {
        margin-right: 10px;
      }
    }

}

  h1 {
    height: 23px;
    width: 72px;
    color: #4f4f4f;
    font-family: 'DIN Pro';
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    margin: 60px 0px 0px 0px;
  }
  .main {
    height: 400px;
    width: 1080px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    background-color: #ffffff;
    margin: 10px 60px 0px 0px;
  }
  .main--user_profile {
    width: 550px;
    padding-left: 20px;
    padding-bottom: 10px;
  }

  .add-multi-trip-area{
    height: 50px;
    width: 98.5%;
    background-color: #FFFFFF;
    outline: none;
    margin-bottom: 20px;
    @media (max-width: 1405px) {
      width: 1000px;
    }
    @media (max-width: 1320px) {
      width: 1000px;
    }
    @media (max-width: 1270px) {
      width: 950px;
    }
    @media (max-width: 1220px) {
      width: 900px;
    }
    @media (max-width: 1150px) {
      width: 850px;
    }
    @media (max-width: 1120px) {
      width: 800px;
    }
    @media (max-width: 1024px) {
      width: 700px;
    }
    @media (max-width: 916px) {
      width: 600px;
    }
    @media (max-width: 788px) {
      width: 500px;
    }
    @media (max-width: 668px) {
      width: 400px;
    }
    @media (max-width: 540px) {
      width: 300px;
    }
    @media (max-width: 420px) {
      width: 200px;
    }
  }
  .another-trip{
    height: 21px;
    color: #385BD3;
    font-family: "DIN Pro";
    font-size: 16px;
    line-height: 21px;
    padding: 0;
    border: none;
    background: none;
    margin-top: 9px;
    outline: none;
    cursor: pointer;
  }
  .addsvg {
    margin: 10px 10px 10px 10px;
  }
  .delete-icon {
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    margin-left: 385px;
    margin-top: 1px;
    outline: none;
    cursor: pointer;
  }
  .travel-input-area {
    display: flex;
    &__spinner {
      border: 2px solid #f3f3f3;
      border-top: 2px solid #385BD3;
      border-radius: 50%;
      position: absolute;
      width: 10px;
      height: 10px;
      text-align: center;
      animation: spin 2s linear infinite;
      z-index: 2;
      top: 40px;
      left: 10px;
    }
  }
  .rec-div {
    height: 100px;
    width: 10px;
    border-radius: 2px 0 0 2px;
    background-color: #ffaf30;
    margin-top: 5px;
  }

  form .form-input .room-dropdown .select-menu {
    top: 35px;
  }

  .personal-rectangle {
    box-shadow: 0 0 0 1px #e4e4e4;
    border: 0.2px solid #e4e4e4;
    border-radius: 9px;
    background-color: #ffffff;
    margin: 35px 0px 20px 0px;
    color: gray;
    padding-left: 60px;
    padding-top: 43px;
    padding-right: 89px;
  }
  .trip__tab-body{
    box-shadow: 0 0 0 1px #e4e4e4;
    border: 0.2px solid #e4e4e4;
    border-radius: 9px;
    background-color: #ffffff;
    margin: 35px 0px 20px 0px !important;
    color: gray;
    padding: 18px 60px 0px 50px;
    .submit__area-border {
      border-top: 1px solid #DFE3E8;
      .submit-area {
        height: inherit;
        justify-content:flex-end;
        width: 100%!important;
        justify-content: space-between;
        button:first-child{
          display:none;
        }
        .submit-area__comment {
          flex:0,0, 50%;
          width: 46%;
          padding: 20px 0px 20px 0px;
          .comments-box{
            padding: 20px 0px 0px 0px;
            button:first-child{
              display:flex;
            }
            .editor__post-btn {
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              height: 29px;
              width: 125px;
              border: 1px solid #d4d4d4;
              border-radius: 1px;
              background-color: #ffffff;
              color: #999999;
              font-family: 'DIN Pro';
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
              text-align: center!important;
              margin: 20px 0 20px 0;
              padding-left: 20px;
              cursor: default;
            }
            .editor__post-btn--active {
              border: none;
              background-color: #3359db;
              color: white;
              cursor: pointer;
            }
          }
          .comment-area__title {
            color: #385BD3;
            outline: none;
            cursor: pointer;
            .comment-area__title__text {
              padding: 0px 0px 0px 10px;
            }
          }
        }
      }
    }
  }
  .request-submit-area {
    align-content: center;
    margin-bottom: 20px;
    width: 79%;
    .bg-btn--active {
      margin-left: 111%;
    }
  }
  .width-91{
    width: 91.5%;
  }
  .trip__detail-row{
    padding: 0;
    margin: 10px 0px 20px 0px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow:row wrap;
    justify-content: flex-start;
  }
  .trip__detail-col{
    flex:0,0, 50%;
    width: 50%;
  }
.reasons__dropdown{
    .select-menu{
          margin-top:10px!important;
          z-index:10
    }
}

.other__reason{
    margin-right: 20px;
    position: relative;
    width: 400px;
    @media (max-width: 450px) {
        width: 100%;
    }
    .form-input{
        label{
            display:none!important;
        }
    }
    .character__conditions{
        position: absolute;
        top:49px;
        right: 7px;
        height: 15px;		
        font-family: "DIN Pro";	
        font-size: 12px;	
        line-height: 15px;
    }
}
.reasons__option{
    .form-input{
        margin-bottom: 5px;
    }
}
.bed__option{
    .form-input{
        margin-bottom: 5px;
    }
}
.trip-heading-rectangle {
  height: 26px;
  width: 53px;
  border: 1px solid #3359DB;
  border-radius: 8px;
  margin-left: 10px;
  padding: 3px 0 0 10px;
  color: #3359DB;
}
.trip-heading-line {
  box-sizing: border-box;
  height: 2px;
  width: 319px;
  border: 1px solid #3359DB;
  margin-left: 53px;
  margin-top: -8px
}
.request-submit-area button:disabled {
  background-color: rgba(51, 89, 219, 0.3);
  border: none;
  color: #FFFFFF;
  cursor: not-allowed;
}

.travel-checklist__tab {
  margin-top: 26px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}
.travel-checklist-line {
  box-sizing: border-box;	
  height: 1px;	
  width: 100%;	
  border: 1px solid #E4E4E4;
  margin-left: 30px
}
.pending-approvals-line {
  box-sizing: border-box;	
  height: 1px;	
  width: 100%;	
  border: 1px solid #E4E4E4;
  margin-left: 30px
}
.travel-checklist-rectangle {
  height: 353px;
  width: 594px;
  border: 1px solid #E4E4E4;	
  border-radius: 6px;	
  background-color: #FFFFFF;
  overflow-y: scroll
}
.pending-approvals-rectangle {
  height: 353px;
  width: 394px;
  margin-left: 9px;
  border: 1px solid #E4E4E4;	
  border-radius: 6px;	
  background-color: #FFFFFF;
  overflow-y: scroll
}
.travel-checklist-text {	
  height: 18px;	
  width: 243px;	
  color: #4F4F4F;	
  font-family: "DIN Pro";	
  font-size: 14px;	
  line-height: 18px;	
  text-align: center;
  margin: 22px 176.5px 13px 174.5px
}
.pending-approvals-text {	
  height: 18px;	
  width: 226px;	
  color: #4F4F4F;	
  font-family: "DIN Pro";	
  font-size: 14px;	
  line-height: 18px;	
  text-align: center;
  margin: 22px 176.5px 13px 84px
}
.travel-checklist__submit-area  {
  margin-top: -30px;
  .submit-area {
      margin-left: 45px
  }
}
.pending-approvals-block {	
  height: 90px;	
  width: 184px;	
  color: #4A4A4A;	
  font-family: "DIN Pro";	
  font-size: 14px;	
  font-weight: 500;	
  line-height: 18px;
  .approval-list-items {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    width: 180%;
    .approval-item {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      .oval{
        margin-top: .7em;
        margin-right: .6em;
      }
    }
  }
}
.travel-checklist-items__group {	
  height: 126px;	
}
.travel-checklist-items {	
  height: 126px;	
  color: #4A4A4A;	
  font-family: "DIN Pro";	
  font-size: 14px;	
  font-weight: 500;	
  line-height: 18px;
  margin: 30px 21px 180px 67px
}

.oval {	
  height: 7px;	
  width: 7px;	
  background-color: #3359DB;
  border-radius: 50px;
}
.submit__area-border {
  border-top: 1px solid #DFE3E8;
  .submit-area {
      width: 100%!important;
      justify-content:space-between!important;
  }
}
