form.new-request {
  fieldset {
    div {
      div.disable-details {
        pointer-events: none;
        opacity: 0.4;
      }
    }
    .input-group {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
    .spaces {
      margin-right: 30px;
      @media (max-width: 450px) {
        margin-right: 0;
        width: 100%;
      }
    }

    .line {
      width: 100%;
      padding-bottom: 11px;
    }
    .style-h5 {
      display: 'flex';
      justify-content: 'center';
      font-family: 'DIN Pro';
    }

    .hide-details {
      height: 18px;
      width: 103px;
      color: #4f4f4f;
      font-family: 'DIN Pro';
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      float: right;
      cursor: pointer;
    }
    .expand {
      float: right;
      margin: 7px 0px 0px 6px;
    }

    .rectangle {
      box-shadow: 0 0 0 1px #e4e4e4;
      height: 95px;
      width: 100%;
      border: 1px solid #e4e4e4;
      border-radius: 2px;
      background-color: #f8f8f8;
      margin: 7px 0px 20px 0px;
      color: gray;
      &.multi {
        border-left: 10px solid #FFAF30;
      }
    }
    .style-details {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 10px;
      margin-left: 20px;
      box-sizing: border-box;
    }

    .travel-to {
      margin-right: 20px;
      position: relative;
      width: 198px;
      @media (max-width: 450px) {
        width: 100%;
      }
    }

    .location-icon {
      position: absolute;
      right: 15px;
      top: 39px;
    }

    .others-width {
      margin-right: 20px;
      @media (max-width: 450px) {
        width: 100%;
      }
    }
  }


}

h1 {
  height: 23px;
  width: 72px;
  color: #4f4f4f;
  font-family: 'DIN Pro';
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  margin: 60px 0px 0px 0px;
}
.main {
  height: 400px;
  width: 1080px;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  background-color: #ffffff;
  margin: 10px 60px 0px 0px;
}
.main--user_profile {
  width: 550px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.add-multi-trip-area{
  height: 50px;
  width: 50px;
  border: 1px solid  #D4D4D4;
  border-style: dashed;
  border-radius: 2px;
  background-color: #FFFFFF;
  min-width: 100%;
}
.another-trip{
  height: 21px;
  color: #4F4F4F;
  font-family: "DIN Pro";
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  border: none;
  background: none;
  margin-top: 9px;
}
.addsvg {
  margin: 10px 10px 10px 10px;
}
.delete-icon {
  padding: 0;
  border: none;
  background: none;
}
.travel-input-area {
  display: flex;
}
.rec-div {
  height: 100px;
  width: 10px;
  border-radius: 2px 0 0 2px;
  background-color: #ffaf30;
  margin-top: 5px;
}
