.trip-align {
  display: flex;
}
ul {
  list-style-type: none;
}

ul li {
  color: black;
  position: relative;
  float: left;
}

ul li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  position: relative;
  font-weight: 300;
  font-size: 1em;
  font-family: "DIN Pro";
  padding: 16px 49px 25px 32px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
}

ul li .check {
  display: block;
  position: absolute;
  border: 2px solid #bcbcbc;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 0px;
  left: -1px;
  z-index: 5;
  transition: border 0.25s linear;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 5px;
  left: 5px;
  margin: auto;
}

input[type="radio"]:checked ~ .check {
  border: 2px solid #3359db;
}

input[type="radio"]:checked ~ .check::before {
  background: #3359db;
}

input[type="radio"]:checked ~ label {
  color: black;
}
