.guesthouse-detail-card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-width: 18%;
  height: 120px;
  padding: 10px 20px;
  border: 1px solid #E4E4E4;
	border-radius: 2px;
  background-color: #FFFFFF;

  &__description, &__value {
    width: 100%;
  }
  &__description {
    display: flex;
    justify-content: space-between;
    .description-type {
      color: #4F4F4F;
      font-size: 15px;
      font-weight: 500;
    }
  }
  &__value {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 67%;
    color: #4F4F4F;
    font-size: 48px;
  }
}
