.modal {
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  z-index: 200;
  max-width: 600px;
  min-height: 180px;
  width: 100vw;
  min-width: 320px;
  box-sizing: border-box;
  font-family: "DIN Pro";
  font-weight: 800;
  color: #4F4F4F;
  outline: none;
  &#request-details-modal {
    max-width: 710px;
  }

  .modal-title-bar {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    box-sizing: border-box;
    padding: 0 30px;
    font-size: 21px;
    background-color: #F8F8F8;

    .modal-close {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: 17px;
      width: 17px;
      outline: none;
      border-style: none;
      background: none;
      margin-left: 10%;
    }
  }

  .modal-content  {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    &#request-details-modal-content {
      padding-right: 80px;
      @media (max-width: 640px) {
        padding-right: 30px;
      }
    }
  }
  .modal-title-id {
    margin: 5px 15px 5px 5px;
  }
  .modal-title-text{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

 .modal-bar {
    position: relative;
    top: 3px;
    border: 1px solid #e4e4e4;
    border-radius: 18px;
    box-sizing: border-box;
    margin-left: 19.5px;
  }
}
@media (max-width: 640px) {
  .modal-bar{
    margin: 0 0 10px 25px;
  }
  .modal-title-text {
    font-size: 15px;
    margin: 0 0 0 10px;
  }
  .modal-title-id {
    margin: 0 0 0 10px;
  }
}

@media (max-width: 568px) {
  .modal-bar{

    margin: 0 0 0 30px;
  }
  .modal-title-text {
    font-size: 14px;
    margin: 0 0 10px 20px;
  }
  .modal-title-id {
    margin: 0 0 0 20px;
  }
}

@media (min-width: 640px) {
  .modal {
    top: 50px;
    margin-bottom: 50px;
  }
}
