.travel-document-form {
  .input-group.visa-input {
    width: 100%;
    height: 80%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .form-input {
      width: 48%;
    }
  }

  hr {
    margin: 0;
    width: calc(100% + 60px);
    right: 0;
  }

  .travel-document-submit-area {
    margin-bottom: 1.5em;
  }
  .document-input__input-container{
    margin-bottom: 2em;
  }

  .date-wrapper {
    > div, .react-datepicker-wrapper, .react-datepicker__input-container, input{
      flex: 1;
      display: flex;
    }
  }
  .form-input {
    width: 48%;
  }
  .react-datepicker-wrapper {
    flex: 1;
  }
  img .date-wrapper {
     display: none;
  }

  .document-input__input-container__prompts__text p{
    color: #3359DB;
  }

  .progress-bar {
    margin-top: -2px;
    padding-top: 0;
    height: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
  }
}
