.card {
  margin: 47px 22px 22px 0px;
  height: 198px;
  font-size: 15px;
  color: #4F4F4F;
  line-height: 20px;
  box-sizing: border-box;
  font-family: "DIN Pro";
  background-color: #FFFFFF;
  width: 197px;
  border-radius: 6px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  display: inline-block;


  &_title {
    height: 23px;	
    width: 118px;	
    color: #3359DB;	
    font-family: "DIN Pro";	
    font-size: 18px;	
    font-weight: 500;	
    line-height: 23px;	
    text-align: center;
    margin: 23.5px 0px 23px 0px;
    padding: 0 39px 0px 39px;
    float:clear;
  }

  &_stipend {
    height: 46px;	
    width: 100px;	
    color: #4A4A4A;	
    font-family: "DIN Pro";	
    font-size: 36px;
    font-weight: 500;	
    line-height: 46px;
    text-align: center;	
    margin: 23px 30px 24px 30px;
    padding: 0 20px 0px 20px;
    font-weight: bold;
    overflow: hidden;
    word-wrap: break-word;

  }

  &_icon {
    float: right;
    right: 0px;
    margin: 10px 0px 0px 0px;
  }

  &_p {
    height: 18px;	
    width: 83px;	
    color: #4A4A4A;	
    font-family: "DIN Pro";	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 18px;	
    text-align: center;
    padding: 0px 57px 17.5px 57px;
  }
}


.travel_stipend_menu {
  .fa.fa-ellipsis-v.on{
    float: right;
    padding: 0.3em;
    cursor: pointer;
  }
  .table__menu-container {

    ul:before {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      border-top: inherit;
      border-left: inherit;
      top: 4px;
      right: 32px;
      margin-top: -11px;
      background: white;
      transform: rotate(45deg)
    }

    .bottom {
      margin-bottom: 0.1em;
    }

    .top {
      margin-top: 0.1em;
      margin-bottom: 0.6em;
    }

    .edit {
      margin-left: 0.5em;
      color: #2f56e3;
    }

    .delete {
      color: red;
      padding-right: 1.5em;
      margin-left: 0.5em;
      cursor: pointer;
    }

    &.open {
      ul {
        top: 12px;
        display: flex;
        flex-direction: column;
        right: -32px;
      }
    }
  }
}

.delete-stipend{
  margin-top: 260px;

  .content {
    padding: 3em 1em;
  }

  hr {
    width: calc(100% + 60px);
    margin-left: -30px;
    margin-bottom: 0 !important;
  }


  .submit-area {
    float: right;
    padding: 1em 1em 2em;
  }

}

.bg-btn--active--delete-stipend{
  background-color: #FF5359;
  color: #FFFFFF;
}

.button__disabled{
  background-color: #ffb3b3;
  color: #FFFFFF;
  &:hover  {
    border: 1px solid #d4d4d4;
  }
  cursor: not-allowed !important;
}

.card_icon{
  cursor: pointer;
}



