.personal-details-text{
    height: 23px;
    width: 134px;
    color: #4F4F4F;
    font-family: "DIN Pro";
    font-size: 18px;
    font-weight: 800;
    line-height: 23px;
}
.personal-details .form-input.request_dropdown {
  min-width: 240px;

  input:disabled{
    cursor: not-allowed !important;
    background-color: #F8F8F8;
  }
  input.no-disable {
    cursor: pointer !important;
    background-color: #fff !important;
  }
}
.profile-details{
    margin-left: 30px;
}
.profile-divider{
    box-sizing: border-box;
    height: 2px;
    width: 980px;
    border: 1px solid #E4E4E4;
    margin-top: 10px;
}
.profile-input{
    height: 250px;
    width: 100%;
}

.bg-btn{
  margin-right: 10px;
}

.bg-btn:disabled {
  cursor: auto;
}
.profile-bg-btn {
  background: #3359DB !important;
  opacity: 0.5 !important;
}
form .form-input .profile_dropdown .select-menu {
  top: 38px;
}

form .form-input .select-dropdown .select-menu {
  top: 47px;
}

.spaces .request_dropdown .select-menu{
  top: 45px
}

.spaces .request_dropdown .user-location .select-menu{
  top: 35px
}

form .form-input .select-menu{
  position: absolute;
  top: 35px;
  left: -0.05px;
  width: calc(100% + -1px);
  color: #4F4F4F;
  font-family: 'DIN Pro';
}


.input-group .profile_role_dropdown .select-menu{
  top: 37px;
}




#btn-cancel{
  color: #3359DB;
  border: 1px solid #3359DB;
  font-weight: 500;
}

.profile-submit-area{
  justify-content: flex-start;
}
form{
    fieldset {
      .input-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

      }
    }
  }

form.new-profile{
    fieldset {
      .input-group {
        display: flex;
        flex-wrap: wrap;
      }
      input{
        height: 40px;
        width: 300px;
        border-radius: 2px;
        background-color: #F8F8F8;
      }

      .no-disable input {
        background-color: #fff
      }
      .input{
        height: 40px;
        width: 300px;
        border-radius: 2px;
        background-color: #F8F8F8;
      }
      .input button{
        width: 149px;
      }
      label{
        color: #4F4F4F;
        font-family: "DIN Pro";
        font-size: 14px;
        line-height: 18px;
      }
    }
}
