.personal-details-text{
    height: 23px;
    width: 134px;
    color: #4F4F4F;
    font-family: "DIN Pro";
    font-size: 18px;
    font-weight: 800;
    line-height: 23px;
}

.profile-details{
    margin-left: 30px;
}
.profile-divider{
    box-sizing: border-box;
    height: 2px;
    width: 980px;
    border: 1px solid #E4E4E4;
    margin-top: 10px;
}
.profile-input{
    height: 250px;
    width: 65%;
}

form{
    fieldset {
      .input-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

      }
    }
  }