.restore-model-content {
  float: left;
  padding-bottom: 20px;
}

.loader {
  display: flex;
  justify-content: flex-start;
  position: relative !important;
  margin: 30px;
}

.checklist-page {
  margin-bottom: 50px;


  #default-item-header {
    height: 20px;
    color: #4F4F4F;
    font-family: "DIN Pro";
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 2px;
  }

  #added-item-header {
    height: 20px;
    color: #4F4F4F;
    font-family: "DIN Pro";
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 30px;
  }

  #deleted-item-header {
    height: 20px;
    color: #4F4F4F;
    font-family: "DIN Pro";
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 30px;
  }

  .checklist-item {
    display: flex;
    height: auto;
    width: 99.8%;
    background-color: #FFFFFF;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    align-items: center;
    margin-top: 8px;
    min-height: 60px;

    #item-name {
      height: auto;
      color: #4F4F4F;
      font-family: "DIN Pro";
      font-size: 15px;
      line-height: 18px;
      margin-left: 30px;
      padding: 4px 4px 4px 0;
      padding-bottom: 10px;
    }

    #deleted-item {
      height: auto;
      color: #999999;
      font-family: "DIN Pro";
      font-size: 14px;
      line-height: 18px;
      margin-left: 30px;
      padding: 4px 4px 4px 0;
      padding-bottom: 10px;
    }

    #edit-btn {
      margin-left: auto;
      height: 18px;
      color: #3359DB;
      font-family: "DIN Pro";
      font-size: 14px;
      line-height: 18px;
      border: 0;
      padding: 0;
      background: none;
      outline: none;
      margin-right: 40px;
      cursor: pointer;
    }

    #delete-btn {
      height: 18px;
      color: #3359DB;
      font-family: "DIN Pro";
      font-size: 14px;
      line-height: 18px;
      border: 0;
      padding: 0;
      background: none;
      outline: none;
      margin-right: 60px;
      cursor: pointer;
    }

    #restore-btn {
      margin-left: auto;
      height: 18px;
      color: #3359DB;
      font-family: "DIN Pro";
      font-size: 14px;
      line-height: 18px;
      border: 0;
      padding: 0;
      background: none;
      outline: none;
      margin-right: 60px;
      cursor: pointer;
    }
  }
}

.checkInTable__trips--empty {
  margin-top: 7%;
  text-align: center;
}

.add-checklist-item {
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%);

  .container {
    display: block !important;
    margin-left: 0 !important;
  }
}

.restore-checklist-items,
.delete-checklist-item {
  height: 370px;
  width: 100%;
  max-width: 480px;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%);

  &__reason {
    height: auto;
    width: 100%;
    color: #4F4F4F;
    font-family: "DIN Pro";
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
  }

  &__disclaimer {
    height: auto;
    width: 181px;
    color: #4F4F4F;
    font-family: "DIN Pro";
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 114px;
    font-weight: 100;

    strong{
      font-weight: bold;
      font-size: 15px;
      text-transform: capitalize;
      padding-right: 6px;
    }

    &--error {
      padding-right: 7.5px;
    }
  }

  &__input {
    height: 84px;
    width: 98%;
    border: 1px solid #D4D4D4;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin-bottom: 15.07px !important;
    resize: none;
    font-size: 15px;
    color: #4F4F4F;
    font-weight: 100;
  }

  &__input:focus {
    outline: none;
  }

  &__hr {
    box-sizing:
      border-box;
    height: 1px;
    width: initial;
    border: 1px solid #F8F8F8;
    margin: 30px -30px 18.5px -30px !important;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    bottom: 30px;

    &--cancel {
      box-sizing: border-box;
      height: 35px;
      width: 84px;
      border: 1px solid #BCBCBC;
      border-radius: 1px;
      background-color: #FFFFFF;
      cursor: pointer;
      margin-right: 19.5px;
      color: #999999;
    }

    &--delete {
      height: 36px;
      width: 91px;
      border-radius: 1px;
      background-color: #FF5359;
      border: none;
      color: #FFF;
      font-weight: 500;
      line-height: 18px;
      text-align: center;
      cursor: pointer;
      &:disabled {
        background-color: rgba(255, 83, 89, 0.3);
        cursor: not-allowed;
      }
    }

    .bg-btn {
      margin-right: 0;
    }
  }

  &__right {
    float: right;
  }
}

.restore-model-content {
  height: auto;
}

.restore-checklist-items_span {
  width: 100%;
  margin-bottom: 0;
  padding: 37px 0;
  height: auto;
  padding-bottom: 0;
  display: block;
}

.restore-checklist-items_span strong {
  padding: 0 4px;
}
.delete-checklist-item .submit-area {
  display: flex;
  justify-content: flex-end;
}

@import 'responsiveness';
