.nav-pane {
  font-family: "DIN Pro";
  height: 100vh;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-top: none;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  .scrollable-div {
    overflow: scroll;
    height: 100%;
  }

  .no-notification-msg {
    font-family: DIN Pro;
    margin-left: 41px;
    color: #999;
    font-size: 16px;
    padding-top: 13px;
  }
}

.notification-item__last {
  min-height: 61px;
  background: #FFF;
}

.notification {
  position: absolute;
  width: 359px;
  right: 0;
  top: 0;
  @media (max-width: 839px) and (min-width: 480px){
    width: 359px;
    top: 0px;
  }
  @media (max-width: 479px){
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 5000;
    top: 0;
  }
}
