.nav-pane {
  font-family: "DIN Pro";
  height: 100vh;
  width: 361px;
  border: 1px solid #E4E4E4;
  border-top: none;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  .scrollable-div {
    overflow: scroll;
    height: 100%;
  }
}

.notification-item__last {
  min-height: 61px;
  background: #FFF;
}
