.visa-modal {
  margin-left: 15%;
  margin-right: 20%;
  height: 484px;
  width: 50%;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
}
.visa-title {
  height: 72px;
  width: 100%;
  color: #4F4F4F;
  background-color: #F8F8F8;
}
.add-visa {
  height: 27px;
  margin: 20px;
  padding-top: 20px;
  width: 81px;
  color: #4F4F4F;
  font-family: "DIN Pro";
  font-size: 21px;
  font-weight: 500;
  line-height: 27px;
}
