.side_overlay {
    display: none;
    @media (max-width: 1024px) {
        display: block;
        z-index: 50;
        height: 100%;
        width: 68%;
        position: absolute;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
