.request-comment {
  margin: 2em 0 0;

  .editor__editor-form {

    .quill-contents {

      .ql-snow {
        background-color: #FFF;
      }

      .ql-toolbar {
        border-top-left-radius: 0.1em;
        border-top-right-radius: 0.1em;
      }

      .ql-container {
        border-bottom-left-radius: 0.1em;
        border-bottom-right-radius: 0.1em;
      }
    }

    .editor__btn-size {

      .editor__btn-wrap {

        .editor__post-btn {
          border-radius: 0.1em;
        }
      }
    }
  }

  .modal__modal1 {
    margin: 0 0 1em;

    &:last-child {
      margin: 0 0 3em;
    }
    hr {
      display: none;
    }

    .modal__mdl-icons {

      .modal__dialog {

        .overlay {
          left: 35%;
        }
      }

      img {
        margin: 0 1em 0 0;
      }

      .modal__modal2 {
        margin: 0;
        padding-left: 3.2em;

        p {
          color: #4F4F4F;
        }
      }
    }
  }
}

.request-comment {
  flex:0,0, 50%;
  width: 62%;
  .comments-box{
    padding: 20px 0px 0px 0px;
    .editor__post-btn {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 29px;
      width: 70px;
      border: 1px solid #d4d4d4;
      border-radius: 1px;
      background-color: #ffffff;
      color: #999999;
      font-family: 'DIN Pro';
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      text-align: center;
      margin: 20px 0 20px 0;
      cursor: default;
    }
    .editor__post-btn--active {
      border: none;
      background-color: #3359db;
      color: white;
      cursor: pointer;
    }
  }
  .comment-area__title {
    color: #385BD3;
    outline: none;
    width: 25%;
    cursor: pointer;
    .comment-area__title__text {
      padding: 0px 0px 0px 10px;
    }
  }
}
