.bus {
  animation-duration: 1s;
  animation-name: anim-plane;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  display: block;
  margin: 0 auto;
  transform: translateY(-3px) translateX(-3px);
  left: 30%;
}

.bus-inverse {
  animation-name: anim-plane-inverse;
  transform: translateY(3px) translateX(-3px);
}

@keyframes anim-plane {
  to {
    transform: translateY(3px) translateX(3px);
  }
}


@keyframes anim-plane-inverse {
  to {
    transform: translateY(-3px) translateX(3px);
  }
}


.bus-background {
  animation-duration: 5s;
  animation-name: moves;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.cloud {
  position: absolute;
  animation-duration: 8s;
  animation-name: move-left, fade;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.man {
  animation-duration: 1s;
  animation-name: anim-man;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  display: block;
  margin: 0 auto;
  transform: translateY(-3px) translateX(6px);
  left: 30%;
}

@keyframes anim-man {
  to {
    transform: translateY(3px) translateX(3px);
  }
}


.cloud-left {
  position: absolute;
  animation-duration: 8s;
  animation-name: move-right, fade;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.falling-ball {
  position: absolute;
  animation-duration: 8s;
  animation-name: fall;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.falling-shadow-ball {
  position: absolute;
  animation-duration: 5s;
  animation-name: fall;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.rocket-window {
  animation-duration: 10s;
  animation-name: bgfade;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.rocket-flame {
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.2;
  }

  90% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}


@keyframes bgfade {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 0.6;
  }

  40% {
    opacity: 0.2;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.6;
  }
}


@keyframes fall {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(200px);
  }
}


@keyframes move-left {
  from {
    transform: translateX(60px);
  }

  to {
    transform: translateX(-60px);
  }
}


@keyframes move-right {
  from {
    transform: translateX(-50px);
  }

  to {
    transform: translateX(60px);
  }
}
