.pageOverlay {
  top: 10px;
  padding-top: 20px;
  background-color: #f8f8f8;
  border-top: none;
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  min-width: 300px;
 
  .loader__title-text{
    margin-top: 30px;
    div {
        height: 31px;  
    }
  }

  p {
    font-size: 1.4em;
    text-align: center;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: 30px;
  }

}
.loader__center-logo{
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loaderBody {
  margin: 60px auto 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  
  .logo-loader{
    max-width: 600px;
    margin: 0 auto;

    img {
      height: 266px;
      width: 363px;
    }
  }
  p {
    margin-top: 36px;
  }
}
