
.width-91{
  width: 91.5%;
  .request-details-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 13px 0;

    .trip-details-pod {
      display: flex;
      height: 137px;
      border: 1px solid #E4E4E4;
      border-radius: 6px;
      background-color: #FFFFFF;
      flex-basis: 66%;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      margin-right: 11px;
      thead{
        display: flex;
        width: 100%;
        justify-content: center;
        tr{
          display: flex;
          width: 85%;
          justify-content: space-between;
          padding: 5px;
          th{
            font-weight: 200;
            color: #4F4F4F;
            font-size: 14px;
            line-height: 18px;
            text-align: left;
          }
        }
      }
      tbody{
        display: flex;
        width: 100%;
        justify-content: center;
        tr{
          display: flex;
          width: 85%;
          justify-content: space-between;
          padding: 5px;
          td{
            color: #4F4F4F;
            font-size: 17px;
            font-weight: bolder;
            line-height: 23px;
            text-align: left;
          }
        }
      }
    }

    .reason-details-pod {
      display: flex;
      flex-direction: column;
      height: 137px;
      width: 100%;
      border: 1px solid #E4E4E4;
      border-radius: 6px;
      background-color: #FFFFFF;
      flex-basis: 33%;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      thead{
        display: flex;
        width: 100%;
        justify-content: center;
        tr{
          display: flex;
          justify-content: space-between;
          width: 85%;
          padding: 5px;
          th{
            font-weight: 200;
            color: #4F4F4F;
            font-size: 14px;
            line-height: 18px;
            text-align: left;
          }
        }
      }
      tbody{
        display: flex;
        width: 100%;
        justify-content: center;
        tr{
          display: flex;
          justify-content: space-between;
          width: 85%;
          padding: 5px;
          td{
            color: #4F4F4F;
            font-size: 17px;
            font-weight: bolder;
            line-height: 23px;
            text-align: left;
          }
        }
      }
    }
  };

  .requestDetails-comment__toggle{
    width: 100%;
  }

  .request-details__comments{
    width: 66%;
    margin-top: 22px;
    .ql-snow {
      background-color: #FFF;
    }

  }

  .requestDetails__comment{
    width: 100%;
    display: flex;
    margin: 32px 0 22px 0;
    .requestDetails__add-comment {
      display: flex;
      justify-content: space-between;
      width: 125px;
      cursor: pointer;
    }
  }
}
