.mdl-layout__header {
  height: 78px;
  width: 1440px;
  background-color: #ffffff;
  box-shadow: none;
  border-bottom: 1px solid #E9E9E9;
}

.mdl-layout__header-row {
  padding: 0 40px 0 51px;
}

.mdl-badge.mdl-badge:after {
  box-sizing: border-box;
  top: 15px;
  right: -10px;
  height: 17px;
  width: 17px;
  border: 1px solid #ffffff;
  background-color: #0459e4;
  color: #ffffff;
  font-family: "DIN Pro";
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.13px;
  line-height: 12px;
  text-align: center;
}

.navbar {
  &__layout_header {
    height: 78px;
    width: 1440px;
    background-color: #ffffff;
    box-shadow: none;
    border-bottom: 1px solid #e9e9e9;
  }

  &__menu-item {
    height: 21px;
    color: #3359db;
    font-family: "DIN Pro";
    font-size: 16px;
    line-height: 21px;

  }
  &__menu {
    min-width: 105px;
    height: auto;
    border-radius: 2px;
    background-color: #ffffff;
    
  }
  &__logo-icons {
    height: 40px;
    width: 130px;
    margin-top: 15px;
  }

  &__nav-size {
    margin-right: 25px;
  }
  &__search-size {
    margin-right: -40px;
  }
  &__navbar-notification {
    height: 21.13px;
    width: 16.25px;
    margin-top: 15px;
    color: gray;
    cursor: pointer;
  }

  &__user-icon {
    height: 32px;
    margin: 15px 20px 0 0;
  }

  &__text-size {
    margin: 7px;
    color: #4f4f4f;
    font-family: "DIN Pro";
    font-size: 14px;
    height: 21px;
    width: 90px;
    line-height: 21px;
  }

  &__navbar-dropdown {
    color: gray;
  }

  &__mdl-upic {
    box-sizing: border-box;
    height: 34px;
    width: 34px;
    border: 1px solid #ffffff;
    margin-right: 2px;
    border-radius: 50%;
  }

  &__mdl-Icons {
    margin-bottom: 5px;
  }
  &__mdl-Icon {
    height: 4.99px;
    width: 8.99px;
  }

  &__mdl-list {
    position: relative;
    top: -53px;
    left: -11px;
    margin: 0 1px;
  }
}
