.mdl-layout__header {
    height: 78px;
    width: 1440px;
    background-color: #ffffff;
    box-shadow: none;
    display: block;
    border-bottom: 1px solid #e9e9e9;
    z-index: auto;
}

.mdl-layout__header-row {
    padding: 0 40px 10px 51px;
    @media (max-width: 1024px) {
        height: 70%;
        padding: 0 40px 0px 51px;
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    @media (max-width: 836px) {
        display: block;
        font-size: 39px;
        color: black;
        position: absolute;
        left: 12px;
        top: 6px;
    }
    @media (max-width: 479px) {
        font-size: 24px;
        left: 2px;
        top: 2.6%;
        color: gray;
    }
}

.mdl-badge.mdl-badge:after {
    box-sizing: border-box;
    top: 15px;
    right: -10px;
    height: 17px;
    width: 17px;
    border: 1px solid #ffffff;
    background-color: #0459e4;
    color: #ffffff;
    font-family: 'DIN Pro';
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.13px;
    line-height: 12px;
    text-align: center;
    @media(max-width: 479px) {
        height: 20px;
        width: 20px;
    }
}

.navbar {
    &__layout_header {
        height: auto;
        margin: auto;
        width: 100%;
        background-color: #ffffff;
        box-shadow: none;
        border-bottom: 1px solid #e9e9e9;
        z-index: inherit;
        @media (max-width: 1024px) {
            height: 5.5%;
        }
        @media (max-width: 839px) and (min-width: 480px) {
            width: 99%;
        }
        @media (max-width: 479px) {
            height: auto;
            box-shadow: 0px 1px 5px 0px rgba(94, 94, 94, 0.25);
        }
    }
    &__badge {
        @media (min-width: 480px) and (max-width: 836px) {
            margin-top: -11%;
        }
    }
    &__travela-logo {
        @media (max-width: 479px) {
            top: 1.5%;
            position: absolute;
            height: 36px;
            width: 36px;
        }
    }
    &__search-icon {
        display: none;
        @media (max-width: 479px) {
            display: block;
            left: 0;
            color: gray;
            position: absolute;
            margin-left: 67%;
            top: 17px;
            font-size: 30px;
        }
        &--btn {
            display: none;
            @media (max-width: 479px) {
                display: block;
            }
        }
    }
    &__menu-item {
        height: 21px;
        color: #3359db;
        font-family: 'DIN Pro';
        font-size: 16px;
        line-height: 21px;
    }
    &__menu {
        min-width: 105px;
        height: auto;
        border-radius: 2px;
        background-color: #ffffff;
    }
    &__logo-icons {
        height: 40px;
        width: 130px;
        margin-top: 15px;
    }
    &__nav-size {
        margin-right: 25px;
        @media (max-width: 839px) and (min-width: 480px) {
            margin-right: -24px;
            margin-left: 20px;
        }
        @media (max-width: 479px) {
            margin-right: -31px;
            margin-top: -2px;
            margin-bottom: auto;
        }
    }
    &__search-size {
        margin-right: -40px;
        @media (max-width: 1024px) {
            margin-right: -71px;
        }
        @media (max-width: 839px) and (min-width: 480px) {
            margin-right: -83px;
        }
        @media (max-width: 479px) {
            display: none;
            margin-right: 0px;
        }
    }
    &__navbar-notification {
        height: 21.13px;
        width: 16.25px;
        margin-top: 15px;
        color: gray;
        cursor: pointer;
        @media (max-width: 479px) {
            height: 30px;
            width: 30px;
        }
    }
    &__navbar-account {
        cursor: pointer;
        margin: 5px;
        @media (max-width: 479px) {
            height: 30px;
            width: 30px;
        }
    }
    &__user-icon {
        height: 32px;
        margin: 15px 20px 0 0;
    }
    &__text-size {
        margin: 7px;
        color: #4f4f4f;
        font-family: 'DIN Pro';
        font-size: 14px;
        height: 21px;
        width: 90px;
        line-height: 21px;
    }
    &__navbar-dropdown {
        color: gray;
    }
    &__mdl-upic {
        box-sizing: border-box;
        height: 34px;
        width: 34px;
        border: 1px solid #ffffff;
        margin-right: 2px;
        border-radius: 50%;
    }
    &__mdl-Icons {
        margin-bottom: 5px;
    }
    &__mdl-Icon {
        height: 4.99px;
        width: 8.99px;
    }
    &__mdl-list {
        position: relative;
        top: 5px;
        left: 18px;
        background-color: #ffffff;
        height: 84px;
        width: 150px;
        margin: 5px;
        color: #4F4F4F;
        border-radius: 3px;
        height: auto;
        box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        font-size: 16px;
        line-height: 21px;
        font-family: DIN Pro;
        cursor: pointer;
        z-index: 2;

        .border-line {
            box-sizing: border-box;
            height: 2px;
            width: 150px;
            border: 1px solid #E4E4E4;
        }

        #logout {
            height: 42px;
            padding-top: 8px;
        }


    #profile {
        height: 42px;
        color: #4f4f4f !important;
        padding-top: 8px !important;
    }
    }
}
