@import 'approvals';

$white-color: #fff;
$primary-color: #3359db;
$border-color: #e4e4e4;
$table-font-color: #4f4f4f !important;
$font-medium: 'DIN Pro Medium';
$font-normal: 'DIN Pro';

@mixin fontStyle($fontSize, $lineHeight, $fontWeight) {
  font-size: $fontSize !important;
  line-height: $lineHeight !important;
  font-weight: $fontWeight !important;
}

@mixin request__status($backgroundColor) {
  @include fontStyle(11px, 14px, 500);
  border-radius: 14px;
  color: $white-color;
  display: inline-block;
  padding: 4px 0;
  box-sizing: border-box;
  width: 62px;
  text-align: center;
  background-color: $backgroundColor;
}

.request__status {
  &--open {
    @include request__status($primary-color);
  }
  &--rejected {
    @include request__status(#ff5359);
  }
  &--approved {
    @include request__status(#49aaaf);
  }
}

.button-outline {
  outline: none;
}

.table {
  &__body:before {
    content: '';
    display: block;
    height: 3px;
  }

  &__container {
    // margin: 25px 0 0 61px;
    background-color: #f8f8f8;
  }

  &__data {
    padding: 13px 30px !important;
    border-color: #e4e4e4 !important;
    cursor: pointer;
  }

  &__user_image_row {
    padding: 13px 30px !important;
    border-color: #e4e4e4 !important;
  }

  &__row {
    border-radius: 2px;
    background-color: $white-color;
    text-align: center;
    height: 46px;

    &:hover {
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
      background-color: $white-color !important;
    }
  }

  &__head {
    @include fontStyle(14px, 18px, 500);
    font-family: $font-medium;
    width: 72px !important;
    color: $table-font-color;
    border-bottom: 1px solid #ebebeb;
    padding: 13px 30px !important;

    &--last {
      padding-left: 0 !important;
    }
  }

  &__requests {
    font-family: $font-normal;
    // width: 91.35%; // changed this the width is constant, percentages makes it smaller when the notification pane is showing
    width: 1040px;
    text-align: center;
    color: $table-font-color;
    border-style: none;
    border-collapse: separate;
    border-spacing: 0 6px;
    background-color: #f8f8f8;

    &--empty {
      @extend .table__requests;
      padding: 13px 30px;
    }

    &__status {
      border-right: 1px solid $border-color;
      padding: 0 !important;
    }

    &__destination {
      color: $primary-color;
      border-left: 1px solid $border-color;
      width: 23.2%;
    }
  }

  &__request-menu {
    @include fontStyle(16px, 18px, 400);
    color: #999;
    margin-left: 39px;
  }

  &__modal-bar-text {
    position: relative;
    top: 0;
    color: #4f4f4f;
    font-family: 'DIN Pro';
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    padding: 5px 20px 5px 20px;
  }
}

