@media screen and (min-width: 2560px){
  .analytics-card {
    margin: 0px 35px 31px 0px;
    height: 100% !important;
    min-height: 415px;
    width: 30% !important;

    &__stats {
      min-height: 136px;
      height: 80%;
      width: 100%;
    }
  }
  .recharts-surface{
    width: 458px;
    height: 430px;
  }
}
