@media screen and (min-width: 481px) and (max-width: 607px){
  .analytics-card {
    min-height: 225px !important;
    height: 100% !important;

    &__stats {
      max-height: 136px !important;
      height: 70% !important;
    }
  }
}

@media screen and (min-width: 608px) and (max-width: 767px){
  .analytics-card {
    min-height: 225px !important;
    height: 100% !important;

    &__stats {
      min-height: 136px !important;
      height: 70% !important;
    }
  }
}
