.analytics-card {
  margin: 0px 35px 31px 0px;
  height: 225px;
  padding: 0 30px 30px 30px;
  font-size: 15px;
  color: #4F4F4F;
  line-height: 20px;
  box-sizing: border-box;
  font-family: "DIN Pro";
  background-color: #FFFFFF;
  width: 100% !important;
  border-radius: 2px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);

  .recharts-surface {
    z-index: 1;
  }

  &__title {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 20px 0;
    font-family: "DIN Pro";
  }

  &__stats {
    height: 136px;
    padding: 30px;
    display: flex;
    box-sizing: border-box;
    background-color: #F8F8F8;
    justify-content: space-between;
    width: 100%;
    border-radius: 2px;
    &.green {
      background-color: #23B57B;
      & h4 {
        color: #fff;
      }
    }
    &.brown-orange {
      background-color: #FFAF30;
      & h4 {
        color: #fff;
      }
    }
  }

  &__stat {
    box-sizing: border-box;
    display: flex;
    & h4 {
      line-height: 0;
      align-self: flex-end;
      color: #3359DB;
      font-size: 54px;
      font-family: 'DIN Pro';
      font-weight: 700;
    }
  }
}

.label {
  font-size: 12px;
  font-family: DIN Pro;
  @media (max-width: 479px) {
    display: block !important;
  }
}

.chart-data {
  display: flex;
  justify-content: center;
  align-content: center;
}

.recharts-wrapper{
  display: flex;
  justify-content: center;
  width: auto !important;
}

@import 'smallScreens';
@import 'largeScreens';
@import 'mediumScreens';
