.searchbar {
  &__search {
    margin: 0 100px;
    align-items: center;
    justify-content: center;
    @media (max-width: 479px){
      margin: 0;
     width: 100%;
    }
  }

  &__search input,
  &__search input:active,
  &__search input:hover,
  &__search input:focus {
    outline: none;
  }

  &__search form {
    height: 36px;
    border-radius: 18px;
    background-color: #f8f8f8;
    margin-top: 15px;
    @media (max-width: 479px) {
      margin-top: 0px;
      margin-left: -14px;
    }
  }

  &__search,
  &__search form,
  &__search input {
    /* Cross browser flex-grow */
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  &__search,
  &__search form {
    /* Cross browser inline-flex */
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  /* Position search icon */
  &__search-icon {
    position: relative;
    left: 340px;
    height: 15.99px;
    width: 16.05px;
    margin-top: 15px;
    @media (max-width: 479px){
    margin-top: 0px;
    }
  }

  &__search input {
    border: none;
    border-radius: 18px;
    font-size: 16px;
    color: #999999;
    background-color: #f8f8f8;
    padding: 0px 5px 0px 20px;
    line-height: 18px;
    font-family: "DIN Pro";
    font-size: 14px;
    height: 36px;
    width: 360px;
    @media (max-width: 470px){
      width: 0%;
    }
  }

  &__search input::placeholder {
    color: #999999;
  }
}
