.home {
  margin-top: 30px;
  &-title {
    height: 23px;
    width: 50px;
    color: #4F4F4F;
    font-family: "DIN Pro Medium";
    font-size: 18px;
    line-height: 23px;
  }
}

.card-layout {
  border-radius: 4px;
  max-height: 296px;
  min-height: 296px;
	background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);

  &--start {
    height: 260px!important;
    width: 100%;
    display: flex;

    .photo {
      background-color: blue;
      width: 38.89%;
    }

    .details {
      width: 61.11%;
      padding: 68px 40px;
      font-family: "DIN Pro";

      .ready {
        height: 27px;
        width: 160px;
        color: #4F4F4F;
        font-size: 21px;
        font-family: "DIN Pro Medium";
        line-height: 27px;
      }

      .confirm {
        height: 42px;
        width: 508px;
        color: #4F4F4F;
        font-size: 16px;
        line-height: 21px;
      }

      & a {
        height: 21px;
        width: 82px;
        color: #3359DB;
        font-size: 16px;
        font-family: "DIN Pro Medium";
        line-height: 21px;
      }
    }
  }

  &--team {
    position: relative;
    width: 47%;
    border-radius: 2px;
    overflow: scroll;
    box-sizing: border-box;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;

    & p {
    height: 20px;
    width: 174px;
    color: #4F4F4F;
    font-size: 15px;
    font-family: "DIN Pro Medium";
    line-height: 20px;
    padding-left: 10px;
    }

    .team-members {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      & img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        padding: 15px 10px;
      }
    }
  }

  &--requests {
      width: 50%;
      border-radius: 2px;
      box-sizing: border-box;
      position: relative;

      &__header {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 30px 30px 10px 30px;

        & p, & a {
          height: 20px;
          color: #4F4F4F;
          font-size: 15px;
          font-family: "DIN Pro Medium";
          line-height: 20px;
        }

        & a {
          font-family: "DIN Pro"!important;
        }
      }
  }
}

.overview {
  margin-top: 38px;;
  display: flex;
  justify-content: space-between;
}

.rap-popover-content {
  height: 89px;
  width: 174px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
  padding: 10px 0;
  box-sizing: border-box!important;

  .team {
    &--username {
      height: 18px;
      color: #4F4F4F;
      font-family: "DIN Pro";
      font-size: 14px;
      margin: 5px 0;
      padding: 0;
      text-align: center;
    }

    &--destination {
      height: 15px;
      color: #999999;
      font-family: "DIN Pro";
      font-size: 12px;
      margin: 5px 0;
      padding: 0;
      text-align: center;
    }

    &--duration {
      height: 15px;
      color: #4F4F4F;
      font-family: "DIN Pro";
      font-size: 12px;
      margin: 5px 0;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.centered-flex {
  text-align: center;
  margin: 10px 0 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & .message {
    color: #999999;
    font-family: "DIN Pro";
    font-size: 15px;
    line-height: 0;
  }

  & .new-request {
    color: #3359DB;
    font-family: "DIN Pro";
    font-size: 15px;
    line-height: 0;
    border: none;
    cursor: pointer;

    &:hover, &:active, &:focus {
      border: none;
      outline: none;
    }
  }
}