a {
  text-decoration: none;
}

body {
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
}

@mixin flexDisplay($flexDirection, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

.main-section {
  @include flexDisplay(row, flex-start, flex-start);
  margin: 0;
  display: flex;
  width: 100vw;
  max-width: 1440px;

  .sidebar {
    height: 100vh;
    width: 16.667%;
    border-right: 1px solid #E9E9E9;
  };

}
  .rp-requests {
    height: 100vh;
    flex-grow: 1;
    padding-left: 61px;
    width: 100%;

    @media (max-width: 839px) and (min-width: 480px){
     width: 100%;
     padding-left: 0;
    }

    @media (max-width: 479px) {
      padding: 0px;
    }

    .rp-requests__header {
      margin-bottom: 15.1px;
      height: 164px;

      @media (max-width: 479px){
        height: 113px;
      }
    }
  };

.hide {
  display: none;
}

.pd-left {
  padding-left: 10px !important;
}
.checkin_text_header{
  height: 21px;	
  width: 116px;	
  color: #4F4F4F;	
  font-family: "DIN Pro";	
  font-size: 16px;	
  font-weight: 500;	
  line-height: 21px;
}