.login-page {
  &__andela-logo {
    margin: 82.46px 0px 163.27px 80px;
  }

  &__landing-page-map {
    width: 108%;
  }

  .login-symbol__video {
    position: absolute;
    margin: 6px 0px 0px -2px;
  }

  .login-symbol__file {
    position: absolute;
    margin: 2px 0px 0px -2px;
  }

  &__travel-request-text {
    margin: 0px 0px 55px 80px;
    height: 102px;
    width: 292px;
    color: #828282;
    font-family: "DIN Pro";
    font-size: 40px;
    font-weight: 600;
    line-height: 51px;
    font-style: normal;
  }


  &__login-btn {
    padding: 0;
    height: 50px;
    width: 252px;
    border-radius: 4px;
    background-color: #3359DB !important;
    margin-left: 80px;
    text-transform: none;
  }

  &__login-to-get-started-text {
    height: 41px;
    width: 162px;
    color: #FFFFFF;
    font-family: "DIN Pro";
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
  }

  &__how-to-book-a-trip-text {
    height: 21px;
    width: 129px;
    color: #828282;
    font-family: "DIN Pro";
    font-size: 16px;
    line-height: 21px;
    margin-left: 25.12px;
    text-decoration: underline;
  }

  &__andela-travel-policy {
    height: 21px;
    width: 139px;
    color: #828282;
    font-family: "DIN Pro";
    font-size: 16px;
    line-height: 21px;
    margin-left: 25.12px;
    text-decoration: underline;
  }

  &__how-to-book-a-trip-link {
    margin: 215px 0px 10px 80px;
  }

  &__andela-travel-policy-link {
    margin: 0px 90px 0px 80px;
  }


  &__google-white {
    margin: -7px 19px 0px 0px;
  }
}
