.login-page {
  &__andela-logo {
    margin: 82.46px 0px 30px 80px;
  }

  &__landing-page-map {
    height: 100vh;
  }

  .login-symbol__video {
    position: absolute;
    margin: 6px 0px 0px -2px;
  }

  .login-symbol__file {
    position: absolute;
    margin: 2px 0px 0px -2px;
  }

  &__travel-request-text {
    margin: 0px 0px 55px 0px;
    padding: 59px 80px 55px;
    height: 102px;
    width: 292px;
    color: #828282;
    font-family: "DIN Pro";
    font-size: 40px;
    font-weight: 600;
    line-height: 51px;
    font-style: normal;
  }

  &__login-btn {
    padding: 0;
    height: 50px;
    width: 252px;
    border-radius: 4px;
    background-color: #3359db !important;
    margin: 0px 0px 250px 80px;
    text-transform: none;
  }

  &__login-to-get-started-text {
    height: 41px;
    width: 162px;
    color: #ffffff;
    font-family: "DIN Pro";
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
  }

  &__link {
    margin: 0px 0px 10px 80px;
  }

  &__link-text {
    height: 21px;
    width: 129px;
    color: #828282;
    font-family: "DIN Pro";
    font-size: 16px;
    line-height: 21px;
    margin-left: 25.12px;
    text-decoration: underline;
  }

  &__google-white {
    margin: -7px 19px 0px 0px;
  }

  @media screen and (max-width: 450px) {
    &__andela-logo {
      margin: 50.46px 0px 0px 30px;
    }

    &__travel-request-text {
      padding: 100px 30px 0px;
      font-size: 35px;
    }

    &__login-btn {
      width: 200px;
      margin: 0px 0px 20px 30px;
    }

    &__login-to-get-started-text {
      font-size: 15px;
    }

    &__link-text {
      font-size: 15px;
      padding: 0px 0px 100px 0px;
    }

    &__link {
      margin: 20px 0px 15px 30px;
    }

    .login-symbol__video {
      width: 5%;
      margin: 8px 10px 0px -2px;
    }

    .login-symbol__file {
      width: 4%;
      margin: 2px 0px 0px -2px;
    }

    &__google-white {
      margin: -2px 19px 0px 0px;
    }
  }

  @media screen and (max-width: 1024px) and (min-width: 600px) {
    &__link-text {
      font-size: 20px;
      padding-left: 20px;
    }

    &__andela-travel-policy {
      font-size: 25px;
    }

    &__link {
      margin-bottom: 40px;
    }

    .login-symbol__video {
      width: 3%;
      margin: 2px 10px 0px -2px;
    }

    .login-symbol__file {
      width: 2.8%;
      margin: -2px 0px 0px -2px;
    }
  }

  @media screen and (min-width: 1550px) {
    &__landing-page-map {
      width: 108%;
      height: 100%;
    }
  }

  @media screen and (min-width: 2560px) {
    &__andela-logo {
      width: 25%;
    }

    &__travel-request-text {
      font-size: 60px;
      width: 500px;
      line-height: 75px;
      padding-bottom: 200px;
    }

    &__login-btn {
      height: 70px;
      width: 400px;
    }

    &__login-to-get-started-text {
      height: 41px;
      width: 162px;
      font-size: 30px;
      line-height: 50px;
    }

    &__google-white {
      margin: -7px 19px 0px 0px;
      width: 30px;
    }

    .login-symbol__video {
      width: 1%;
      margin: 2px 10px 0px -2px;
    }

    .login-symbol__file {
      width: 0.9%;
      margin: -2px 0px 0px -2px;
    }

    &__link-text {
      font-size: 25px;
      padding-left: 20px;
    }
  }
}
