.login-page {
  &__andela-logo {
    padding: 80px;
  }


  &__landing-page-map {
  width: 108%;
  }


  &__travel-request-text {
    padding: 59px 80px 55px;
    height: 102px;
    width: 292px;
    color: #828282;
    font-family: "DIN Pro";
    font-size: 40px;
    font-weight: 600;
    line-height: 51px;
    font-style: normal;
    margin-bottom: 55px;
  }


  &__login-btn {
    padding: 0;
    height: 50px;
    width: 252px;
    border-radius: 4px;
    background-color: #3359DB !important;
    margin-left: 80px;
    text-transform: none;
  }


  &__login-to-get-started-text {
    height: 41px;
    width: 162px;
    color: #FFFFFF;
    font-family: "DIN Pro";
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
  }


  &__how-to-book-a-trip-text {
    height: 21px;
    width: 129px;
    color: #828282;
    font-family: "DIN Pro";
    font-size: 16px;
    line-height: 21px;
    margin-left: 12.12px;
  }


  &__andela-travel-policy {
    height: 21px;
    width: 139px;
    color: #828282;
    font-family: "DIN Pro";
    font-size: 16px;
    line-height: 21px;
    margin-left: 12.12px;
  }


  &__how-to-book-a-trip-link {
    padding: 215px 80px 0px 80px;
    margin-bottom: 10px;
  }


  &__andela-travel-policy-link {
    padding: 0px 90px 0px 80px;
    margin-bottom: 0px;
  }


  &__google-white {
    margin: -7px 19px 0px 0px;
  }
}
