.add-document-item {
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%);

  .container {
    display: block !important;
    margin-left: 0 !important;
  }
}

.document-page {
  #default-item-header {
    height: 20px;
    color: #4F4F4F;
    font-family: "DIN Pro";
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 2px;
  }

  .checklist-item {
    display: flex;
    height: 60px;
    width: 96.3%;
    background-color: #FFFFFF;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    align-items: center;
    margin-top: 8px;

    #item-name {
      height: 18px;
      color: #4F4F4F;
      font-family: "DIN Pro";
      font-size: 15px;
      line-height: 18px;
      margin-left: 30px;
    }

    #deleted-item {
      height: 18px;
      width: 283px;
      color: #999999;
      font-family: "DIN Pro";
      font-size: 14px;
      line-height: 18px;
      margin-left: 30px;
    }

    #edit-btn {
      margin-left: auto;
      height: 18px;
      color: #3359DB;
      font-family: "DIN Pro";
      font-size: 14px;
      line-height: 18px;
      border: 0;
      padding: 0;
      background: none;
      outline: none;
      margin-right: 40px;
      cursor: pointer;
    };

    #delete-btn {
      height: 18px;
      color: #3359DB;
      font-family: "DIN Pro";
      font-size: 14px;
      line-height: 18px;
      border: 0;
      padding: 0;
      background: none;
      outline: none;
      margin-right: 60px;
      cursor: pointer;
    }

    #restore-btn {
      margin-left: auto;
      height: 18px;
      color: #3359DB;
      font-family: "DIN Pro";
      font-size: 14px;
      line-height: 18px;
      border: 0;
      padding: 0;
      background: none;
      outline: none;
      margin-right: 60px;
      cursor: pointer;
    }
  }
}

.checkInTable__trips--empty {
  margin-top: 7%;
}

.add-checklist-item {
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%);

  .container {
    display: block !important;
    margin-left: 0 !important;
  }
}


.document__table{
  margin-top: 10px;
  .mdl-data-table{
    tbody {
      tr {
        height: 50px;
        border: 1px solid #E4E4E4;
        border-radius: 2px;
        background-color: #FFFFFF;
        td {
          .role-user__name{
            color: #4F4F4F;
          }
        }
      }
    }
  }
}

.modal {
  &.visible {
    &#edit-document-modal {
      top: auto;
      height: 285px;

      .asterisk {
        color: red
      }
    }


    #edit-document-modal-content {
      padding: 0px;
      width: 100%;
      display: flex;
      flex-direction: column;

      .doc-rename {
        padding: 30px;

        label {
          width: 100%;
          height: 18px;
          font-family: "DIN Pro";
          font-size: 14px;
          line-height: 18px;
        }
      }

      .doc-rename-input {
        width: 96%;
        margin: 5px 0px;
        padding-left: 15px;
        font-size: 15px;
        border-radius: 2px;
        border: 1px solid #D4D4D4;
        color:#4F4F4F;
        height: 36px;
        outline: none;
        font-family: "DIN Pro";
        font-weight: 300;
      }
      .submit-area {
        border-top: 1px solid #f8f8f8;
        width: 100%;
        padding: 16px 0px;
        position: relative;

        p {
          margin: 0;
          position: absolute;
          right: 0;
          padding: 0 30px;

        }

        .doc-btn-save {
          background-color: #3359DB;
          color: #FFFFFF;
          border: none;
          cursor: pointer;
          margin-right: 0;

          &:disabled {
            background-color: rgba(51, 89, 219, 0.3);
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

$primary-color: #4F4F4F;
$border-color: #e4e4e4;

.document__name {
  color: $primary-color;
  border-left: 1px solid $border-color;
	width: 60%;
    @media (max-width: 839px) {
    width: 40%;
  }
}

.download-document-body {
  padding: 4px 15px;
}

.download-document-align {
  padding-left: 15px;
}

.data_cell {
  border-right: 1px solid $border-color;
}

.download-document-hr {
  box-sizing:
      border-box;
    height: 1px !important;
    width: 479.6px;
    border: 1px solid #F8F8F8;
    margin: 70px -30px 11px -15px !important;
}

.table {
  &__rows {
    border-radius: 2px;
    background-color:white;
    text-align: center;
    height: 46px;
    &:hover {
      box-shadow: 0 0px 0px 0;
      background-color: white !important;
      cursor: pointer;
    }
  }
  &__menu-container {
    &.open {
      .table__menu-list.doc{
        top: -17px;
        left: -100px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.delete-document {
  min-height: 250px;

  .delete-document-button {
    background-color: #FF5359;
    border: none;
  }
}

.freeze-text{
  text-align: center !important;
}

.table__documents{
  width: 96.3%;
}

.document__icon{
  height: 13px;
  width: 10px;
  margin-right: 15.5px;
}
