.room-geometry-wrapper {
  .trip-booking-details {
    position: absolute;
    min-width: 210px;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
    z-index: 100;
    transition: all .5s ease-out;
    cursor: auto;
    &__header, &__body {
      padding: 0 15px;
      display: flex;
      font-weight: 100;
    }
    &__header {
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      color: #4F4F4F;
      font-size: 14px;
      background-color: #F8F8F8;
      height: 30px;
      div.close-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 52px;
        outline: none;
        height: 20px;
        width: 20px;
        font-size: 18px;
        line-height: 20px;
        border-radius: 50%;
        transition: all .1s ease-out;
        color: #999999;
        cursor: pointer;
        &:hover {
          background: #e1e1e1
        }
        &:active:focus {
          background: #aaaaaa;
        }
      }
    }
    &__body {
      flex-flow: column;
      font-size: 12px;
      margin-top: 10px;
      padding-bottom: 10px;
      div {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        height: 22px;
        span {
          white-space: pre;
          color: #4F4F4F;
        }
        span:not(:last-child) {
          margin-right: 20px;
        }
        span:nth-child(2) {
          color: #3359DB;
        }
      }
    }
    &__button {
      background-color: #3359DB;
      color: #FFFFFF;
      height: 20px;
      border-radius: 1px;
      font-size: 10px;
      outline: none;
      border: none;
      cursor: pointer;
    }
    &.details-visible {
      transform: translateY(-10%) scaleY(1);
      &.translateX {
        transform: translateY(-10%) scaleY(1) translateX(-90%);
      }
    }
    &.details-hidden {
      transform: translateY(-10%) scaleY(0);
      &.translateX {
        transform: translateY(-10%) scaleY(0) translateX(-90%);
      }
    }
  }

  &:not(:last-child) {
    .trip-booking-details {
      transform-origin: top;
    }
  }
  &:last-child {
    .trip-booking-details {
      transform-origin: bottom;
      &.details-visible {
        transform: translateY(-110%) scaleY(1);
        &.translateX {
          transform: translateY(-110%) scaleY(1) translateX(-90%);
        }
      }
      &.details-hidden {
        transform: translateY(-110%) scaleY(0);
        &.translateX {
          transform: translateY(-110%) scaleY(0) translateX(-90%);
        }
      }
    }
  }
}
