.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  background: rgba(0,0,0,.72);
  transition: transform .1s ease-out;
  transform-origin: top left;

  .invisible {
    visibility: visible;
    transform: scale(0);
  }

  .visible {
    visibility: visible;
    transform: scale(1);
  }

  .overlayBackground {
    background: none;
  }
}

