$primary-color: #3359DB;
$white-color: #FFF;

@mixin badge($color, $backgroundColor) {
    height: 15px;
    width: 15px;
    padding: 1.8px;
    background-color: $backgroundColor;
    border-radius: 50%;
    color: $color;
    font-family: "DIN Pro";
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    margin-left: 4px;
}

.label{
    @media (max-width: 479px){
        display: none;
    }
}

.button-group {
    width: auto;
    display: flex;
    height: 36px;
    align-items: center;
}

.bg-btn {
    height: 36px;
    width: auto;
    border: 1px solid #D4D4D4;
    border-radius: 1px;
    background-color: #F8F8F8;
    color: #999999;
    font-family: "DIN Pro";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    margin-right: 10px;
    padding: 9px 21px;
    cursor: pointer;
    outline:none !important;

    @media (max-width: 320px){
        margin-right: 4px;
    }

    &:hover {
        border-color: $primary-color;
    }

    &:disabled {
        cursor: auto;
        &:hover {
            border-color: #D4D4D4;
        }
    }

  &--active {
        border: 1px solid $primary-color;
        border-radius: 1px;
        background-color: $primary-color;
        color: $white-color;
    }

  &--with-badge {
        display: flex;
        justify-content: space-around;
        align-items: center;
      &__approvals--inactive {
          @include badge($white-color, #49AAAF);
      }
      &--inactive {
        @include badge($white-color, $primary-color);
        }
      &--active {
          @include badge($primary-color, $white-color);
      }

    }

}
