.reminder-panel-header {
  box-sizing: border-box;
  background-color: #f8f8f8;
  height: 201.9px;
  width: 96.3%;

  .PageHeader {
    justify-content: unset;
  }

  .dropdown__container {
    width: auto;
    margin: 60px 25px 0;
  }

  .dropdown__input {
    width: 200px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #3359DB;
  }

  .dropdown__input_error {
    width: 200px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid red;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    min-height: 36px;
    border-radius: 0 2px 2px 0;
    background-color: #FFFFFF;
  }

  .dropdown__list__item {
    padding-left: 20px;
    justify-content: normal;
  }
}

.reminder-card {
	width: 680px;
	border: 1px solid #E4E4E4;
	border-radius: 3px;
  background-color: #FFFFFF;
  margin-top: 80px;
  padding: 44px 55px;
}

.reminders-fieldset {
  display: flex;

  .delete-icon {
    outline: none;
    cursor: pointer;
  }

  .dropdown-input-group, .form-input {
    width: 230px;
    margin-right: 50px;
  }

  p {
    align-self: center;
    line-height: 6.5;
    margin: 0;
    margin-left: -40px;
  }

  .delete-icon {
    margin-left: auto;
    position: static;
  }

  .dropdown-input-group {
    display: flex;

    .form-input {
      margin-right: 0;
    }
  }

  .period {
    &.input.select {
      background: #F2F2F2;
    }

    span {
      visibility: hidden;
    }
  }

  .input.select .select-menu {
    max-height: 150px;
    overflow: scroll;
    padding-bottom: 10px;

    li {
      display: initial;
    }
  }
}

.add-reminder__border-dashed {
  height: 50px;
  width: 100%;
  border: 1px solid #D4D4D4;
  border-style: dashed;
  border-radius: 2px;
  background-color: #FFFFFF;
  outline: none;
}

.add-reminder__button {
  height: 21px;
  color: #4F4F4F;
  font-family: "DIN Pro";
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  border: none;
  background: none;
  margin-top: 9px;
  outline: none;
  cursor: pointer;
}

.document_header_group_button {
  margin-top: 20px;
  display: inline-flex;
  width: 100%;
  max-width: 96%;

  div {
    flex: 1;
    display: flex;
    width: 240px;
  }

  .create-new {
    border-color: #3359DB;
    margin-right: 0;
    font-family: "DIN Pro";
  }
  button {
    border-style: solid;
    height: 36px;
    width: 114px;
    border-radius: 1px;

    font-size: 14px;
    margin-right: 1em;
    display: flex;
    width: 240px;
    justify-content: space-between;
  }

  button {
    height: 36px;
    width: 114px;
    border-radius: 1px;
    font-size: 14px;
    line-height: 14px;
    background: #F8F8F8;
    outline: none;
    padding: 2px 2px 5px 2px;
    cursor: pointer;
    text-align: center;
    font-family: "DIN Pro";
    text-decoration: none;
    display: inline-block;
    color: #3359DB;

    span{
      padding: 4px 8px;
      background: #F8F8F8;
      border-radius: 50%;
      font-size: 12px;
      color: #3359DB;
      font-family: 'Din Pro';
    }
  }

  button:active{
    border-style: solid;

  }
  .document-button_group{
    &__active{
      background: #3359DB;
      outline: none;
      border-style: none;
      color: #F8F8F8;
    }
    &__inactive{
      span{
        background: #3359DB;
        color: #F8F8F8;
      }
    }
  }

}

.readiness-table{
  margin-top: 20px;
  .table__head {
    &:first-of-type {
      padding-left: 0 !important;
    }
  }

  .table__body{
    text-align: left;
  }

  tbody .table__rows .condition-name{
    color: #3359DB;
  }
}

.list-templates {
  .tiny.material-icons {
    margin-left: 10px;
    font-size: 18px;
    transform: rotate(180deg);
    color: blue;
  }
}
