.text_color {
  color: blue;
  width: 40px;
}
.pl-sm-120 {
  @media (max-width: 479px) {
  padding-left: 183px !important;
  }
}

.delete {
  @media (max-width: 479px) {
  padding-right: 26px !important;
  }
}

.description-left {
  @media (max-width: 479px) {
    padding-left: 186px !important;
  }
}

.freeze-role-table {
  @media (max-width: 479px) {
    position: absolute !important;
    background-color: #ffffff;
    width: 41vw !important;
    z-index: 99;
    border-right: 1px solid #e4e4e4;
  }
  @media (max-width: 320px) {
    width: 45vw !important
  }
}



  .freeze-head {
  @media (max-width: 479px) {
    width: 41vw !important;
  } 
  @media (max-width: 320px) {
    width: 45vw !important;

  }
}
